@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProThEx.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProThExO.woff) format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProLtEx.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProLtExO.woff) format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProEx.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProExO.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProMdEx.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProMdExO.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProBdEx.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProBdExO.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProHvEx.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProHvExO.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProBlkEx.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaEx";
  src: url(/assets/fonts/HelveticaNeueLTProBlkExO.woff) format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

.gradient-purple,
.gradient-purple:hover {
  background: linear-gradient(118.33deg,
      #2563eb 3.84%,
      #9333ea 52.51%,
      #be123c 107.67%);
}

.gradient-teal,
.gradient-teal:hover {
  background: linear-gradient(92.13deg, #10b981 11.39%, #1d4ed8 88.22%);
}

.gradient-pumpkin,
.gradient-pumpkin:hover {
  background: linear-gradient(272.17deg, #f59e0b 12.95%, #c2410c 87.72%);
}

.gradient-rose,
.gradient-rose:hover {
  background: linear-gradient(272.7deg, #ef4444 8.57%, #db2777 89.17%);
}

.gradient-gold,
.gradient-gold:hover {
  background: linear-gradient(271.89deg,
      #e9e09f -0.72%,
      #f6c948 43.04%,
      #f4ac21 84.33%);
}

.gradient-silver,
.gradient-silver:hover {
  background: linear-gradient(96.03deg,
      #e2e8f0 6.58%,
      #9ba1ad 64.58%,
      #808794 94%);
}

.gradient-bronze,
.gradient-bronze:hover {
  background: linear-gradient(101.45deg, #daa573 16.96%, #7c5640 90.82%);
}

.gradient-lavender,
.gradient-lavender:hover {
  background: linear-gradient(91.37deg, #a855f7 0%, #f9a8d4 100%);
}

.button {
  border: 2px solid white;
  border-radius: 0;
  padding: 15px 20px;
  font-weight: bold;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.logo-spin:hover {
  animation: logo-spin 2s ease-in-out infinite;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }

  30% {
    transform: rotate(-10deg) scale(1.05, 1.05);
  }

  65% {
    transform: rotate(360deg) scale(1, 1);
  }

  100% {
    transform: rotate(360deg) scale(1, 1);
  }
}

.flash {
  animation: flash 0.8s linear normal;
}

@keyframes flash {
  0% {
    background-color: #3334;
  }

  100% {
    background-color: #0000;
  }
}

.send-success {
  animation: send-success 0.8s linear normal;
}

.sending {
  background: linear-gradient(271.32deg,
      rgba(241, 245, 249, 0.3) 0%,
      rgba(241, 245, 249, 0.1) 100%);
}

@keyframes send-success {
  0% {
    background: linear-gradient(271.32deg,
        rgba(241, 245, 249, 0.3) 0%,
        rgba(241, 245, 249, 0.1) 100%);
  }

  100% {
    background-color: linear-gradient(271.32deg,
        rgba(216, 180, 254, 0.3) 0%,
        rgba(216, 180, 254, 0.1) 100%);
  }
}

.long-logo {
  width: 100%;
  max-width: 450px !important;
}